@charset "UTF-8";
/* custom.scss */
/* 기본 primary 색상 변경 */
/* secondary 색상 변경 */
/* success 색상 변경 */
/* danger 색상 변경 */
/* warning 색상 변경 */
/* info 색상 변경 */
/* light 색상 변경 */
/* dark 색상 변경 */
.bg-blue-50 {
  background-color: #e6f4ff !important;
  color: #000;
}

.bg-blue-100 {
  background-color: #d2ebff !important;
  color: #000;
}

.bg-blue-200 {
  background-color: #bde3ff !important;
  color: #000;
}

.bg-blue-300 {
  background-color: #90cfff !important;
  color: #000;
}

.bg-blue-400 {
  background-color: #62bbff !important;
  color: #000;
}

.bg-blue-500 {
  background-color: #0077d2 !important;
  color: #fff;
}

.bg-blue-600 {
  background-color: #0060A9 !important;
  color: #fff;
}

.bg-blue-700 {
  background-color: #004376 !important;
  color: #fff;
}

.bg-blue-800 {
  background-color: #002643 !important;
  color: #fff;
}

.bg-blue-900 {
  background-color: #000f1a !important;
  color: #fff;
}

.bg-slate-50 {
  background-color: #f5f6f8 !important;
  color: #000;
}

.bg-slate-100 {
  background-color: #e9ebef !important;
  color: #000;
}

.bg-slate-200 {
  background-color: #dde0e7 !important;
  color: #000;
}

.bg-slate-300 {
  background-color: #c9ced9 !important;
  color: #000;
}

.bg-slate-400 {
  background-color: #a5aec0 !important;
  color: #000;
}

.bg-slate-500 {
  background-color: #58657e !important;
  color: #fff;
}

.bg-slate-600 {
  background-color: #3F485A !important;
  color: #fff;
}

.bg-slate-700 {
  background-color: #2a303c !important;
  color: #fff;
}

.bg-slate-800 {
  background-color: #191d24 !important;
  color: #fff;
}

.bg-slate-900 {
  background-color: #080a0c !important;
  color: #fff;
}

.bg-neutral-50 {
  background-color: #fafafa !important;
  color: #000;
}

.bg-neutral-100 {
  background-color: #f0f0f0 !important;
  color: #000;
}

.bg-neutral-200 {
  background-color: #e1e1e1 !important;
  color: #000;
}

.bg-neutral-300 {
  background-color: #cccccc !important;
  color: #000;
}

.bg-neutral-400 {
  background-color: #ababab !important;
  color: #000;
}

.bg-neutral-500 {
  background-color: #646464 !important;
  color: #fff;
}

.bg-neutral-600 {
  background-color: #454545 !important;
  color: #fff;
}

.bg-neutral-700 {
  background-color: #313131 !important;
  color: #fff;
}

.bg-neutral-800 {
  background-color: #1c1c1c !important;
  color: #fff;
}

.bg-neutral-900 {
  background-color: #080808 !important;
  color: #fff;
}

.bg-indigo-50 {
  background-color: #eff1fb !important;
  color: #000;
}

.bg-indigo-100 {
  background-color: #e3e7f7 !important;
  color: #000;
}

.bg-indigo-200 {
  background-color: #d7dcf4 !important;
  color: #000;
}

.bg-indigo-300 {
  background-color: #bfc7ed !important;
  color: #000;
}

.bg-indigo-400 {
  background-color: #a7b2e6 !important;
  color: #000;
}

.bg-indigo-500 {
  background-color: #586cd0 !important;
  color: #fff;
}

.bg-indigo-600 {
  background-color: #3850C7 !important;
  color: #fff;
}

.bg-indigo-700 {
  background-color: #283a8f !important;
  color: #fff;
}

.bg-indigo-800 {
  background-color: #192358 !important;
  color: #fff;
}

.bg-indigo-900 {
  background-color: #070a18 !important;
  color: #fff;
}

.bg-purple-50 {
  background-color: #f8eaff !important;
  color: #000;
}

.bg-purple-100 {
  background-color: #f5e0ff !important;
  color: #000;
}

.bg-purple-200 {
  background-color: #f0d1ff !important;
  color: #000;
}

.bg-purple-300 {
  background-color: #e7b7ff !important;
  color: #000;
}

.bg-purple-400 {
  background-color: #dd99ff !important;
  color: #000;
}

.bg-purple-500 {
  background-color: #b114ff !important;
  color: #fff;
}

.bg-purple-600 {
  background-color: #8f00d6 !important;
  color: #fff;
}

.bg-purple-700 {
  background-color: #6d00a3 !important;
  color: #fff;
}

.bg-purple-800 {
  background-color: #3d005c !important;
  color: #fff;
}

.bg-purple-900 {
  background-color: #1b0029 !important;
  color: #fff;
}

.bg-pink-50 {
  background-color: #ffeaf8 !important;
  color: #000;
}

.bg-pink-100 {
  background-color: #ffdbf3 !important;
  color: #000;
}

.bg-pink-200 {
  background-color: #ffccee !important;
  color: #000;
}

.bg-pink-300 {
  background-color: #ffade4 !important;
  color: #000;
}

.bg-pink-400 {
  background-color: #ff8eda !important;
  color: #000;
}

.bg-pink-500 {
  background-color: #d6008f !important;
  color: #fff;
}

.bg-pink-600 {
  background-color: #ad0074 !important;
  color: #fff;
}

.bg-pink-700 {
  background-color: #70004b !important;
  color: #fff;
}

.bg-pink-800 {
  background-color: #470030 !important;
  color: #fff;
}

.bg-pink-900 {
  background-color: #14000d !important;
  color: #fff;
}

.bg-red-50 {
  background-color: #fff0f3 !important;
  color: #000;
}

.bg-red-100 {
  background-color: #ffe1e6 !important;
  color: #000;
}

.bg-red-200 {
  background-color: #ffd2d9 !important;
  color: #000;
}

.bg-red-300 {
  background-color: #ffb3c0 !important;
  color: #000;
}

.bg-red-400 {
  background-color: #ff94a6 !important;
  color: #000;
}

.bg-red-500 {
  background-color: #e10026 !important;
  color: #fff;
}

.bg-red-600 {
  background-color: #B8001F !important;
  color: #fff;
}

.bg-red-700 {
  background-color: #7b0015 !important;
  color: #fff;
}

.bg-red-800 {
  background-color: #52000e !important;
  color: #fff;
}

.bg-red-900 {
  background-color: #1f0005 !important;
  color: #fff;
}

.bg-orange-50 {
  background-color: #ffbea8 !important;
  color: #000;
}

.bg-orange-100 {
  background-color: #ffa789 !important;
  color: #000;
}

.bg-orange-200 {
  background-color: #ff8860 !important;
  color: #000;
}

.bg-orange-300 {
  background-color: #ff6938 !important;
  color: #000;
}

.bg-orange-400 {
  background-color: #ff4b0f !important;
  color: #000;
}

.bg-orange-500 {
  background-color: #E53900 !important;
  color: #fff;
}

.bg-orange-600 {
  background-color: #b22c00 !important;
  color: #fff;
}

.bg-orange-700 {
  background-color: #7f2000 !important;
  color: #fff;
}

.bg-orange-800 {
  background-color: #421000 !important;
  color: #fff;
}

.bg-orange-900 {
  background-color: #230900 !important;
  color: #fff;
}

.bg-yellow-50 {
  background-color: #fff1c9 !important;
  color: #000;
}

.bg-yellow-100 {
  background-color: #ffe7a0 !important;
  color: #000;
}

.bg-yellow-200 {
  background-color: #ffd968 !important;
  color: #000;
}

.bg-yellow-300 {
  background-color: #ffc107 !important;
  color: #000;
}

.bg-yellow-400 {
  background-color: #e2aa00 !important;
  color: #000;
}

.bg-yellow-500 {
  background-color: #916d00 !important;
  color: #fff;
}

.bg-yellow-600 {
  background-color: #6d5200 !important;
  color: #fff;
}

.bg-yellow-700 {
  background-color: #4e3b00 !important;
  color: #fff;
}

.bg-yellow-800 {
  background-color: #2d2200 !important;
  color: #fff;
}

.bg-yellow-900 {
  background-color: #110d00 !important;
  color: #fff;
}

.bg-green-50 {
  background-color: #6effc1 !important;
  color: #000;
}

.bg-green-100 {
  background-color: #82ffca !important;
  color: #000;
}

.bg-green-200 {
  background-color: #31ffa7 !important;
  color: #000;
}

.bg-green-300 {
  background-color: #00de80 !important;
  color: #000;
}

.bg-green-400 {
  background-color: #00a15c !important;
  color: #000;
}

.bg-green-500 {
  background-color: #007845 !important;
  color: #fff;
}

.bg-green-600 {
  background-color: #004528 !important;
  color: #fff;
}

.bg-green-700 {
  background-color: #002616 !important;
  color: #fff;
}

.bg-green-800 {
  background-color: #000804 !important;
  color: #fff;
}

.bg-green-900 {
  background-color: black !important;
  color: #fff;
}

.bg-teal-50 {
  background-color: #a0f9ff !important;
  color: #000;
}

.bg-teal-100 {
  background-color: #b4fbff !important;
  color: #000;
}

.bg-teal-200 {
  background-color: #63f6ff !important;
  color: #000;
}

.bg-teal-300 {
  background-color: #11f1ff !important;
  color: #000;
}

.bg-teal-400 {
  background-color: #00c6d3 !important;
  color: #000;
}

.bg-teal-500 {
  background-color: #00a0aa !important;
  color: #fff;
}

.bg-teal-600 {
  background-color: #007077 !important;
  color: #fff;
}

.bg-teal-700 {
  background-color: #005358 !important;
  color: #fff;
}

.bg-teal-800 {
  background-color: #00363a !important;
  color: #fff;
}

.bg-teal-900 {
  background-color: #001a1b !important;
  color: #fff;
}

.bg-cyan-50 {
  background-color: #e9fbff !important;
  color: #000;
}

.bg-cyan-100 {
  background-color: #d4f7ff !important;
  color: #000;
}

.bg-cyan-200 {
  background-color: #b6f2ff !important;
  color: #000;
}

.bg-cyan-300 {
  background-color: #97ecff !important;
  color: #000;
}

.bg-cyan-400 {
  background-color: #5ae1ff !important;
  color: #000;
}

.bg-cyan-500 {
  background-color: #00cffd !important;
  color: #fff;
}

.bg-cyan-600 {
  background-color: #009DC0 !important;
  color: #fff;
}

.bg-cyan-700 {
  background-color: #006b83 !important;
  color: #fff;
}

.bg-cyan-800 {
  background-color: #005a6e !important;
  color: #fff;
}

.bg-cyan-900 {
  background-color: #003946 !important;
  color: #fff;
}

.bg-gray-50 {
  background-color: white !important;
  color: #000;
}

.bg-gray-100 {
  background-color: #f5f5f7 !important;
  color: #000;
}

.bg-gray-200 {
  background-color: #e4e5e9 !important;
  color: #000;
}

.bg-gray-300 {
  background-color: #d3d6db !important;
  color: #000;
}

.bg-gray-400 {
  background-color: #b1b6c0 !important;
  color: #000;
}

.bg-gray-500 {
  background-color: #7f8696 !important;
  color: #fff;
}

.bg-gray-600 {
  background-color: #616877 !important;
  color: #fff;
}

.bg-gray-700 {
  background-color: #464b55 !important;
  color: #fff;
}

.bg-gray-800 {
  background-color: #3c414a !important;
  color: #fff;
}

.bg-gray-900 {
  background-color: #2a2d34 !important;
  color: #fff;
}

.swatch-blue {
  color: #fff;
  background-color: #0060A9;
}

.swatch-slate {
  color: #fff;
  background-color: #3F485A;
}

.swatch-neutral {
  color: #fff;
  background-color: #454545;
}

.swatch-indigo {
  color: #fff;
  background-color: #3850C7;
}

.swatch-purple {
  color: #fff;
  background-color: #8f00d6;
}

.swatch-pink {
  color: #fff;
  background-color: #ad0074;
}

.swatch-red {
  color: #fff;
  background-color: #B8001F;
}

.swatch-orange {
  color: #fff;
  background-color: #E53900;
}

.swatch-yellow {
  color: #fff;
  background-color: #ffc107;
}

.swatch-green {
  color: #fff;
  background-color: #007845;
}

.swatch-teal {
  color: #fff;
  background-color: #00A0AA;
}

.swatch-cyan {
  color: #fff;
  background-color: #009DC0;
}

.swatch-gray {
  color: #fff;
  background-color: #616877;
}

:root {
  --bs-blue-rgb: 0, 96, 169;
  --bs-slate-rgb: 63, 72, 90;
  --bs-neutral-rgb: 69, 69, 69;
  --bs-indigo-rgb: 56, 80, 199;
  --bs-purple-rgb: 143, 0, 214;
  --bs-pink-rgb: 173, 0, 116;
  --bs-red-rgb: 184, 0, 31;
  --bs-orange-rgb: 229, 57, 0;
  --bs-yellow-rgb: 255, 193, 7;
  --bs-green-rgb: 0, 120, 69;
  --bs-teal-rgb: 0, 160, 170;
  --bs-cyan-rgb: 0, 157, 192;
  --bs-gray-rgb: 97, 104, 119;
}

/*# sourceMappingURL=bs-colors.css.map */
