/* custom.scss */
$primary: #0076D1; /* 기본 primary 색상 변경 */
$secondary: #6E7687; /* secondary 색상 변경 */
$success: #00854D; /* success 색상 변경 */
$danger: #DF134C; /* danger 색상 변경 */
$warning: #ffc107; /* warning 색상 변경 */
$info: #00b2da; /* info 색상 변경 */
$light: #f8f9fa; /* light 색상 변경 */
$dark: #343a40; /* dark 색상 변경 */

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Noto Sans KR", "Roboto", sans-serif !default;
$font-family-en: "Roboto", "Noto Sans KR", sans-serif !default;

$heading-font-family: "Noto Sans KR", sans-serif; // 사용할 폰트 설정
$heading-font-weight: 700; // 기본 글꼴 두께 설정

//button
// Allows for customizing button radius independently from global border radius
$btn-border-radius: .25rem !default;
$btn-border-radius-sm: .125rem !default;

$border-radius: .25rem !default;
$border-radius-sm: .125rem !default;

//modal
$modal-xxl: 1600px !default;


// 전체컬러 재정의
/* Bootstrap의 나머지 스타일을 임포트 */
@import '../node_modules/bootstrap/scss/bootstrap';