@use "sass:color"; // 색상 모듈 사용
// 추가적인 커스터마이징// WP Color system

$primary: #008BF5;
// 색상 변수 정의
$colors: (
	"blue": $primary,
	"indigo": #6610f2,
	"purple": #6f42c1,
	"pink": #d63384,
	"red": #EC1721,
	"orange": #fd7e14,
	"yellow": #ffc107,
	"green": #00a662,
	"teal": #0099cc,
	"cyan": #0dcaf0,
	"gray": #6E7687
);

// 명도 단계 정의 (100부터 900까지)
$steps: (
	100: 40%,
	// 가장 밝음
	200: 30%,
	300: 20%,
	400: 10%,
	500: 0%,
	// 기본색과 비슷
	600: -10%,
	700: -18%,
	800: -26%,
	900: -36% // 가장 어두움
);

// 배경 색상 클래스 생성 Mixin
@mixin bg-color($name, $color, $modifier, $lightness) {
	// 텍스트 색상 계산: -500부터 -900까지는 흰색, 그 외에는 검은색
	$text-color: if($modifier >= 500, #fff, #000);

	.bg-#{$name}-#{$modifier} {
		background-color: adjust-color($color, $lightness: $lightness) !important;
		color: $text-color; // 텍스트 색상 설정
	}
}

// 기본 배경 색상 클래스 생성
@each $name, $color in $colors {
	@each $modifier, $lightness in $steps {
		@include bg-color($name, $color, $modifier, $lightness);
	}
}

// 색상 배경과 텍스트 색상을 설정하는 mixin 정의
@mixin color-swatch($bg-color) {
	color: #fff; // 텍스트 색상은 흰색으로 설정
	background-color: $bg-color; // 전달된 배경색 사용
}

// swatch-blue, swatch-red 등의 클래스 생성
@each $color-name, $color-value in $colors {
	.swatch-#{$color-name} {
		@include color-swatch($color-value); // 해당 색상을 mixin에 전달
	}
}

/* 
// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables
*/

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Noto Sans KR", "Roboto", sans-serif !default;
$font-family-en: "Roboto", "Noto Sans KR", sans-serif !default;

$heading-font-family: "Noto Sans KR", sans-serif; // 사용할 폰트 설정
$heading-font-weight: 700; // 기본 글꼴 두께 설정

//button
// Allows for customizing button radius independently from global border radius
$btn-border-radius: .25rem !default;
$btn-border-radius-sm: .125rem !default;

$border-radius: .25rem !default;
$border-radius-sm: .125rem !default;

//modal
$modal-xxl: 1600px !default;

// 새로운 간격 값만 추가
$grid-gutter-widths: (
	6: 3.5rem,  // g-6만 추가
	7: 4rem  // g-7만 추가
);

// Bootstrap의 기본 스타일을 가져옵니다.
@import "../node_modules/bootstrap/scss/bootstrap";